.blue{
  color: blue;
}

.boxBadge{
  float: right;

}

h2{
  margin-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}


li a {
  display: block;
  color: #bac9db;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: white;
}

.active {
  background-color: #4CAF50;
}

.box:hover{
  
  border: 1px solid;
  border-color: #127bb6 !important;
  padding-left: 50px !important;
  border-left-style: solid !important;
  border-right-style: solid !important;
  border-bottom-style: solid !important;
  margin-bottom: -2px;
  position: relative;
  z-index: 999999999999;
  background-color:rgba(0, 0, 0, 0.25);
}

.boxImage{

  float: left;
  width: 175px;
  height: 75px;
  margin-right: 15px;
  border-radius: 0px;
}

.App {
  background-image: url('./images/techbgbot.png');
  background-size: 1800px 1436px;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #bac9db;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header-nav {
  border-top: 1px solid #274160;
  border-bottom: 1px solid #274160;
    }

.App-header {
  background-image: url('./images/techbgbot2.png');
  overflow: hidden;
  background-size: 1800px 1436px;
  background-position: top;
  background-repeat: no-repeat;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 120px;
}

.App-content-header {
  height: 25;
  border: 1px solid blue;

}

.App-content {
  margin-top: 120px;
  padding-top: 30px;

}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  border-radius: 8px;
  height: 64px;
  width: 64px;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
  img{
    border-radius: 0px;
    height: 36px;
    width: 36px;
  }

  h2{

  }

  .App-header {
    height: 80px;
  }
}